*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
 /* border: 5px solid red; */
 width: 100dvw;
 height: 100dvh;
}


.nav-menu-wrapper{
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  /* border: 1px solid blue; */
}

.layout{
  display: grid;
  grid-template-columns: minmax(100px, 150px) 1fr;
  height: 100%;
  /* gap: 20px; */
}

.layout > * {
/* border: 3px solid green; */
min-height: 100%;
}

.from-to-row{
  display: grid;
  grid-template-columns: 400px 30px 400px 50px; 
  gap: 10px 20px;
  align-items: center;  
}

.page{
  height: 100%;
  overflow: scroll;
}

.icons-title-component{
  display: flex;
  justify-content: space-between;
}
.icon-title-wrapper{
  display: flex;
  align-items: center;
}

.active-menu{
  color: #ea4a38;
  border-left: 3px solid #ea4a38;
 /* font-size: large; */
 font-weight: 700;
}




